@import '../vendor/fonts/tabler-icons.css';
@import '../vendor/css/rtl/theme-default.css';
@import '../vendor/css/rtl/core.css';
@import '../css/demo.css';
@import '../vendor/libs/node-waves/node-waves.css';
@import '../vendor/libs/perfect-scrollbar/perfect-scrollbar.css';
@import '../vendor/libs/typeahead-js/typeahead.css';
@import '../vendor/libs/@form-validation/form-validation.css';
@import '../vendor/libs/select2/select2.css';
@import '../vendor/css/pages/page-auth.css';

a {
    text-decoration: none !important;
}
.btn-primary {
    color: #fff;
    background-color: #7367f0;
    border-color: #7367f0;
}
